main {
  width: 100vw;
  height: 25vh;
  background-color: hsl(0, 0%, 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 80%;
  height: 80%;
  background-color: hsl(0, 0%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container .gameContainer {
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameContainer .option {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer .option button {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  font-size: 2em;
  border: 0;
  background-color: white;
}

.gameContainer .option button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 80%);
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 60%);
  height: 20vh;
  color: white;
}

.output div {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 30px;
}

.output div p {
  font-size: 1.2em;
}

.output #winner {
  margin-top: 10px;
  font-size: 1.5em;
}

.output #playAgain {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  margin-bottom: 5px;
  background-color: hsl(120, 100%, 40%);
  color: white;
  font-size: 1.2em;
}

.output #playAgain:hover {
  background-color: hsl(120, 100%, 30%);
  cursor: pointer;
}

.hidden {
  display: none;
}
